/* ---------------------------------------------
   proxima novablack italic
--------------------------------------------- */
@font-face {
    font-family: 'proxima_novablack_italic';
    src: url('../fonts/petronas_fonts/proxima_nova_black_it-webfont.eot');
    src: url('../fonts/petronas_fonts/proxima_nova_black_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/petronas_fonts/proxima_nova_black_it-webfont.woff2') format('woff2'),
         url('../fonts/petronas_fonts/proxima_nova_black_it-webfont.woff') format('woff'),
         url('../fonts/petronas_fonts/proxima_nova_black_it-webfont.ttf') format('truetype'),
         url('../fonts/petronas_fonts/proxima_nova_black_it-webfont.svg#proxima_novablack_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ---------------------------------------------
   proxima novablack
--------------------------------------------- */
@font-face {
    font-family: 'proxima_novablack';
    src: url('../fonts/petronas_fonts/proxima_nova_black-webfont.eot');
    src: url('../fonts/petronas_fonts/proxima_nova_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/petronas_fonts/proxima_nova_black-webfont.woff2') format('woff2'),
         url('../fonts/petronas_fonts/proxima_nova_black-webfont.woff') format('woff'),
         url('../fonts/petronas_fonts/proxima_nova_black-webfont.ttf') format('truetype'),
         url('../fonts/petronas_fonts/proxima_nova_black-webfont.svg#proxima_novablack') format('svg');
    font-weight: normal;
    font-style: normal;

}