@import "font.scss";
@import "fontello.scss";
@import "variables.scss";
@import "mixins.scss";
@charset "utf-8";

/*------------------------------------------
    Author by Candy
------------------------------------------ */
/*------------------------------------------
 	Global
------------------------------------------ */
body{
    // font: $f20#{"/"}25px $font_stack;
    @include font(15px, 20px, $font_stack);
    // font: #{$f20}/25px #{$font_stack};
    color: $black;
    // @include padding(10px, 10px, 10px, 10px);
    @include pad(20px 10px 20px 30px);

    strong{
        font-family: $proxima_novablack_stack;
    }
}

#btn_fb .st0{
    fill: #f90;
}

#btn_fb .st1{
    fill: #6c6c6c;
}

.icon-btn_fb{
    font-size: 40px;

    &.red{
        color: red;
    }
}

a{
    color: #1e90ff;

    &:hover{
        text-decoration: underline;
    }
}

.red{
    color: #ff0000;
}

.lt-ie9{
    .outdatedBrowserOverlay {
        position: fixed;
        z-index: 1000;
        width: 100%;
        height: 100%;
        background: $black;
        top: 0;
        left: 0;

        .outdatedBrowserBox {
            width: 535px;
            height: 100px;
            color: #FFF;
            font-size: 18px;
            margin: 20px auto;
            @extend ._textCenter;

            a {
                color: #02958f;
            }
        }
    }
}

code{
    background: #f90;
    padding: 5px;
}

pre{
    background: rgba(0,0,0,0.1);
    display: block;
    margin-bottom: 1.2em;
    max-width: 100%;
    overflow: auto;
    padding: 1em;
    word-wrap: break-word;
}

.w100{
    width: 100%;
}

/*------------------------------------------
  Style
------------------------------------------ */
.container{
    width: 800px;
    margin: 0 auto;
  
    h1{
        font-size: $f20;
        @include _margin15px_tb;
        @extend ._textCenter;
    }

    p{
        @extend ._textCenter;
        padding: 15px 20px;

        span{
            color: #ff0000;
        }
    }

    ol{
        li{
            list-style-type: decimal;
            margin: 10px 0;

            h2{
                margin: 15px 0;
            }

            p{
                text-align: left;
                padding: 0;
            }
        }
    }

    #url_references{
        background: #6c6c6c;
        padding: 20px;
        color: #fff;

        h1{
            text-align: left;
        }

        ol{
            padding: 0 0 0 30px;

            li{
                a{
                    color: #fff;
                }
            }
        }
    }
}