/* -------------------------------------------
   custom styles
-------------------------------------------- */
._textCenter{
	text-align: center;
}

@mixin _margin15px_tb{
    margin: 15px 0;
}

@mixin font($fontsize, $lineheight, $fontfamily) { 
	font: $fontsize#{"/"}$lineheight $fontfamily; 
}

@mixin pad ($pads...) {
  padding: $pads;
}